span {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btncarrito {
	display: inline-block;
	background-color: #33a0ff;
	color: white;
	width: 8rem;
	height: 3rem;
	border: none;
	font-weight: bold;
}

.btncarrito:hover {
	cursor: pointer;
}

.carrito__titulo {
	text-align: center;
}

.producto__carrito {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.producto__carrito img {
	width: 15rem;
	height: 10rem;
}

.carrito__tabla {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

.carrito__tabla i {
	color: red;
}

thead th:nth-child(1) {
	width: 2%;
}

thead th:nth-child(2) {
	width: 20%;
	text-align: left;
}

thead th:nth-child(3) {
	width: 3%;
}

thead th:nth-child(4) {
	width: 5%;
}

thead th:nth-child(5) {
	width: 5%;
	text-align: right;
}

th,
td {
	padding: 2rem;
}

td {
	text-align: center;
}

tbody td:nth-child(1),
tbody td:nth-child(5) {
	width: 2%;
	text-align: right;
}

.detallescarrito {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.carrito__canjear {
	margin: 0;
}

.carrito__canjear__form__input {
	display: flex;
}

.carrito__canjear__form__input input {
	height: 4rem;
	border: 0.3rem solid #f1f3f4;
	border-right: none;
}

.carrito__canjear__form__input button {
	height: 4rem;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.custom-number-input input:focus {
	outline: none !important;
}

.custom-number-input button:focus {
	outline: none !important;
}

/*detalle de la compra*/
.carrito__total {
	display: flex;
	flex-direction: column;
	width: 30rem;
	margin-right: 2rem;
}

.carrito__total__dato {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.total {
	font-weight: bold;
	font-size: 3rem;
}

.carrito__total__boton button {
	width: 100%;
	height: 4rem;
}

/*Boton modificado*/
.botonmodificado {
	display: flex;
}

.botonmodificado input {
	width: 8rem;
	text-align: center;
	border-style: none;
	background-color: #f6f7f8;
}

.botonmodificado button {
	border-style: none;
	background-color: #f6f7f8;
}

.botonmodificado span {
	color: #33a0ff;
}

/*Modal compra*/

.modal-container {
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
	align-items: center;
	justify-content: center;
	position: fixed;
	pointer-events: none;
	opacity: 0;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	transition: opacity 0.3s ease;
}

.show {
	pointer-events: auto;
	opacity: 1;
}

.modal {
	background-color: #fff;
	width: 70rem;
	max-width: 100%;
	height: 60rem;
	padding: 3rem 5rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
	
}

.modal__datos{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
}

.modal__inputs{
	width: 100%;
	border-style: none;
	background-color: #DFDEDE;
	color:  #000;
}

input.modal__inputs{
	height: 4rem;
	margin: 1rem 0;
	width: 100%;
}

textarea.modal__inputs{
	margin-top: 1rem;
	height: 12rem;
	resize: none;
}

.modal h1 {
	margin: 0;
	color: #40BFFF;
	text-align: center;
}

.modal p {
	opacity: 0.7;
	font-size: 14px;
}

.modal img{
	margin: 0 auto;
}

.modal__sig{
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.modal__sig button{
	width: 20rem;
	text-align: center;
}

.metodopago{
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 5fr 1fr;
}

.metodopago i{
	color: #40BFFF;
}

.seleccion{
	display: flex;
	justify-content: end;
}

.modal__datos h3{
	margin: 0 auto;
	color: #40BFFF;
	text-align: center;
}

input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #d1d3d1;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

input[type='radio']:checked:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #33a0ff;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

.btncierre button{
	border-style: none;
	background-color: #fff;
}

.btncierre i{
	color: #33a0ff;
}

.btncierre i:hover{
	transform: scale(1.2);
	cursor: pointer;
}

.datostarjeta{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
}

.modal h3{
	text-align: center;
}

.botonesmetodo{
	display: flex;
	justify-content: space-between;
}

.btnatras button{
	border-style: none;
	background-color: #fff;
}

.btnatras i{
	color: #33a0ff;
}

.btnatras i:hover{
	transform: scale(1.2);
	cursor: pointer;
}