.title{
    text-align: center;
}

.sangria{
    /*poner sangria*/
    margin-left: 8rem;
}

.btnenviar {
    background-color: #e37c06;
    color: white;
    border-radius: 0.7rem;
    width: 15rem;
    margin: 0 auto;
    height: 3rem;
    border: none;
    font-weight: bold;
}


.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 20rem;
    gap: 2rem;

}

.contacto__form input{
  width: 70.28rem;
}