/*General*/
a,p {
    color: #19A2DD;
}

.resaltado{
    font-weight: bold;
}

.btnlogin {
    background-color: #e37c06;
    color: white;
    border-radius: 0.7rem;
    width: 15rem;
    margin: 0 auto;
    height: 3rem;
    border: none;
    font-weight: bold;
}

/*main registro*/

.mainRegistro{
    width: 100%;
    height: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/fondologin.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mainRegistro__container{
    background-color: #F4ECEC;
    height: 58rem;
    width: 63rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow:  0.45rem 0.4rem 0.3rem #888888 ;
}

.mainRegistro__container__form__title{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.gridinputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.mainRegistro__container__form__input{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 2rem 0;
}

.mainRegistro__container__form__input input{
    border: none;
    height: 3rem;
    border-radius: 0.5rem;
    width: 25.259rem;
}

.mainRegistro__container__form__input__btn{
    display: flex;
    justify-content: center;
}

#direccion{
    width: 100%;
}

.foot{
    margin-top: 0;
}

